.icon-48-produkty {
      background-image: url(../images/l_produkty.png);
      padding-left:60px!important;
}

.icon-48-produkt {
      background-image: url(../images/l_produkty.png);
      padding-left:60px!important;
}

